<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>简约派资源网资源详情</title>
    <meta name="keywords" content="简约派资源网、PPT模板,PPT模板下载,PPT背景,PPT素材,PPT背景图片"/>
    <meta name="description" content="简约派资源网提供各类PPT模板免费下载，PPT背景图片，PPT素材，PPT模板下载，PPT下载，幻灯片背景图片大全，幻灯片模板下载，幻灯片下载，幻灯片素材，PowerPoint模版免费下载，PowerPoint素材，PowerPoint背景，PowerPoint下载。
"/>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/photo.css">

</head>
<body>
<div id="parent">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5  rounded">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" v-if="currentParentItem != null">
                    <a class="nav-item nav-link" href="www.shouzan.top">回到首页</a>
                    <a class="nav-item nav-link"
                       v-for="item in parentItems"
                       v-bind:key="item"
                       v-bind:class="['btn btn-link ']"
                       href="#">{{ item.name }}</a>
                </div>
            </div>
        </nav>
    </div>
    <div style="margin-left: 5%;margin-bottom: 2%">
        <p class="normal-font">当前位置：</p>
        <p class="normal-font">{{currentLocation}}</p>
    </div>

    <div style="display: flex;justify-content: center">
        <div style="width: 40%;background-color: #d7d7d7;" class="center">
                <vue-gallery style="width: 98%" :photo="photos[0]"></vue-gallery>

                <div id="app">

                    <vue-gallery  v-for="(photo) in photos" :photo="photo"></vue-gallery>
                </div>

        </div>
        <div style="width: 20%">
            <ul class="list-group list-group-flush" v-if="template != null">
                <li class="list-group-item">
                    <p class="content-font">名称：</p>
                    <p class="normal-font">{{template.name}}</p>
                </li>
                <li class="list-group-item">
                    <p class="content-font">文件格式：</p>
                    <p class="normal-font">{{template.fileFormat}}</p>
                </li>
                <li class="list-group-item">
                    <p class="content-font">文件大小：</p>
                    <p class="normal-font">{{(template.fileSize/1024/1024).toFixed(2)}}M</p>
                </li>
                <li class="list-group-item">
                    <p class="content-font">下载次数：</p>
                    <p class="normal-font">{{template.downloadNums}}</p>
                </li>
                <li class="list-group-item">
                    <p class="content-font">点赞：</p>
                    <img  style="width: 15%;cursor: pointer" src="../img/thumbsUp.png" v-on:click="thumbsUpClick">
                    <p class="normal-font">{{template.thumbsUp}}</p>
                </li>
                <li class="list-group-item">
                    <p class="content-font">查看次数：</p>
                    <p class="normal-font">{{template.viewNums}}</p>
                </li>
                <li class="list-group-item" >
                    <p class="content-font">下载：</p>
                    <a type="button" :href="template.url" class="btn btn-primary" @click="downloadClick">点击下载</a>
                </li>
                <li class="list-group-item">
                    <p class="content-font">描述：</p>
                    <p class="normal-font">{{template.description}}</p>
                </li>
                <li class="list-group-item" v-if="template.tagResults.length > 0">
                    <p class="content-font">标签：</p>
                    <p class="normal-font" v-for="tag in template.tagResults">{{tag.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="footer">
    <footer-component></footer-component>
</div>

</body>
<script src="../js/file/photo.js"></script>
<script src="../js/file/common.js"></script>
</html>