<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<style>
    a:focus {
        background: #d4d4d4;
    }
</style>
<body>
<div id="index">
    <div id="parentTitle" class="demo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link"
                       v-for="item in items"
                       v-bind:key="item"
                       v-bind:class="['btn btn-link ', {  active: currentTab === item.name }]"
                       v-on:click="parentTitleClick(item)"
                       href="#">{{ item.name }}</a>
                </div>
            </div>
        </nav>
        <div style="background: gray;height: 1px;width: 98%;margin: auto"></div>
        <div>
            <ul class="nav">
                <li ><p class="nav-link text-secondary">分类：</p></li>
                <third
                        v-for="template in childItems" v-bind:key="template"
                        v-bind:post="template" v-on:enlarge-text="childTitleClick(template)"
                ></third>
            </ul>
        </div>

        <ul class="nav">
            <li class="nav-item"><p class="nav-link text-secondary">场景：</p></li>
            <li class="nav-item"><a class="nav-link " @click="showAllClick" href="#" >全部</a></li>

            <third
                    v-for="(template,index) in thirdChildItems" v-bind:key="template"
                    v-bind:post="template" v-bind:id="index" v-show="index <=secondShowNum" v-on:enlarge-text="thirdTitleClick(template)"
            ></third>
            <li class="nav-item"><a class="nav-link " href="#"  @click="secondShowMoreClick()">{{secondShowMoreText}}</a></li>
        </ul>
        <div style="background: gray;height: 1px;width: 98%;margin: auto"></div>

        <div style="display: flex;flex-wrap: wrap;justify-content: center">
            <file-template v-for="template in fileTemplates" v-bind:key="template"
                           v-bind:post="template"
            ></file-template>
        </div>

    </div>


</div>

</body>
<script src="../js/file/index.js"></script>

</html>