<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<!--https://vuetifyjs.com/zh-Hans/components/icons-->
<head>
    <meta charset="UTF-8">

    <script
            src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.1.14/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>

<body>
<div id="parentTitle">

    <v-app id="inspire">
        <v-content v-if="loginPage">
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>登录</v-toolbar-title>
                                <v-spacer/>
                            </v-toolbar>
                            <v-card-text>
                                <v-text-field
                                        label="Login"
                                        prepend-icon="person"
                                        v-model="loginInfo.email"
                                        type="text"
                                ></v-text-field>
                                <v-text-field
                                        id="password"
                                        label="Password"
                                        prepend-icon="lock"
                                        type="password"
                                        v-model="loginInfo.password"
                                ></v-text-field>
                                <v-row>
                                    <v-col cols="12" sm="9">
                                        <v-text-field label="验证码" prepend-icon="code" v-model="loginInfo.code">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="2">
                                        <!--<div v-bind:style="{backgroundImage:'url(codeImage)'}" @click="backgroundImageCode()"></div>-->
                                        <v-row>
                                            <img v-bind:src="codeUrl" @click="backgroundImageCode()"/>
                                            <span>点击图片刷新</span>
                                        </v-row>

                                    </v-col>
                                </v-row>
                                <v-switch
                                        v-model="loginInfo.autoRegister"
                                        label="帐号不存在自动注册登录"
                                ></v-switch>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer/>
                                <v-btn color="primary" @click="loginAction()">登录</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
        <div v-if="!loginPage">
            <v-card
                    class="mx-auto"
                    max-width="70rem"
                    outlined
            >
                <v-card-title>
                    <span>目标与实际</span>
                    <v-col>
                        <v-btn color="primary" style="float: right" @click="targetDialog = true">
                            编辑
                        </v-btn>
                    </v-col>
                </v-card-title>
                <v-simple-table>
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">类型</th>
                            <th class="text-left">总资产</th>
                            <th class="text-left">收益率</th>
                            <th class="text-left">耗费时间/月</th>
                            <th class="text-left">本月现金</th>
                            <th class="text-left">本月收益</th>
                            <th class="text-left">总现金</th>
                            <th class="text-left">总收益</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>目标</td>
                            <td>{{ target.targetAmount }}</td>
                            <td>{{ target.targetReturnRate }}(年化)</td>
                            <td>{{ target.targetYear * 12 }}</td>
                            <td>{{targetMonth.addCash}}</td>
                            <td>{{targetMonth.addInterest}}</td>
                            <td>{{target.currentCash }}</td>
                            <td>{{target.currentInterest }}</td>
                        </tr>
                        <tr>
                            <td>实际</td>
                            <td>{{ realTotalParentAccountFund.currentCash +  realTotalParentAccountFund.currentInterest}}</td>
                            <td>{{ realTotalParentAccountFund.returnRate}}(总收益率)</td>
                            <td>{{ realTotalParentAccountFund.month }}</td>
                            <td>{{realTotalParentAccountFund.addCash}}</td>
                            <td>{{realTotalParentAccountFund.addInterest}}</td>
                            <td>{{realTotalParentAccountFund.currentCash}}</td>
                            <td>{{realTotalParentAccountFund.currentInterest}}</td>

                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
                <v-row>

                    <v-col cols="12" sm="6">
                            <v-chart style="height: 25rem" :options="realChartOption" />
                    </v-col>

                    <v-col cols="12"
                           sm="6">
                        <div>
                            <v-chart style="height: 25rem" :options="targetChartOption"/>
                        </div>
                    </v-col>
                </v-row>
            </v-card>

            <!---->

            <!--<div id="targetChart" style="width: 80rem;height: 30rem"></div>-->
            <div id="actualAccount">
                <v-row>
                    <v-col>
                        <v-card
                                class="mx-auto"
                                max-width="55rem"
                                outlined
                        >
                            <v-card-title>
                                <span>资金帐号</span>
                                <v-col>
                                    <v-btn color="primary" style="float: right" @click="parentAccountFundDialog = true">
                                        新建资金帐号
                                    </v-btn>
                                </v-col>


                            </v-card-title>
                            <v-card v-for="parentAccountFund in accountFunds">
                                <v-card-subtitle>
                                    <v-row>
                                        <v-col cols="12"
                                               sm="4">
                                            <v-chip
                                                    class="ma-2"
                                                    color="indigo"
                                                    text-color="white"
                                            >
                                                <v-avatar left>
                                                    <v-icon>mdi-account-circle</v-icon>
                                                </v-avatar>
                                                {{parentAccountFund.name}}
                                            </v-chip>

                                        </v-col>
                                        <v-col cols="12" sm="4"></v-col>

                                        <v-col cols="12" sm="1"></v-col>
                                        <v-col cols="12" sm="2">
                                            <v-btn @click="childAccountFundDialogShow(parentAccountFund)">新建子帐号</v-btn>

                                        </v-col>
                                        <v-col cols="12" sm="1">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon small v-on="on"
                                                            @click="deleteAccountFund(parentAccountFund)">
                                                        delete
                                                    </v-icon>
                                                </template>
                                                <span>删除</span>
                                            </v-tooltip>
                                        </v-col>
                                    </v-row>


                                </v-card-subtitle>

                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">子账户</th>
                                            <th class="text-left">当前资产</th>
                                            <th class="text-left">当前收益</th>
                                            <th class="text-left">贡献现金</th>
                                            <th class="text-left">收益率</th>
                                            <th class="text-left">帐号类型</th>
                                            <th class="text-left">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in parentAccountFund.childAccountFunds" :key="item.name">
                                            <td>
                                                <v-chip outlined>{{item.name}}</v-chip>
                                            </td>
                                            <td>
                                                <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                              v-model="item.totalAmount"></v-text-field>
                                            </td>
                                            <td>
                                                <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                              v-model="item.totalInterest"></v-text-field>

                                            </td>
                                            <td>
                                                <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                              v-model="item.totalCash"></v-text-field>

                                            </td>
                                            <td>
                                                {{item.returnRate}}
                                            </td>
                                            <td>
                                                <!--<span v-if="!parentAccountFund.edit">{{item.fundType}}</span>-->
                                                <!--<v-text-field disabled v-model="item.fundType"></v-text-field>-->
                                                <v-combobox v-model="item.fundType"
                                                            :disabled="currentEditChildAccountFundId != item.id"
                                                            v-bind:value="childAccountFund.fundType"
                                                            :items="childFundTypeNames"
                                                ></v-combobox>
                                            </td>
                                            <td>
                                                <v-row>
                                                    <v-col cols="12"
                                                           sm="6">
                                                        <v-tooltip bottom>
                                                            <template v-slot:activator="{ on }">
                                                                <v-icon small v-on="on"
                                                                        @click="deleteAccountFund(item)">
                                                                    delete
                                                                </v-icon>
                                                            </template>
                                                            <span>删除</span>
                                                        </v-tooltip>

                                                    </v-col>
                                                    <v-col cols="12"
                                                           sm="6">
                                                        <!--<v-btn style="float: right" @click="clickEditTable(item, $event)">编辑</v-btn>-->
                                                        <v-tooltip bottom v-if="currentEditChildAccountFundId == -1">
                                                            <template v-slot:activator="{ on }">
                                                                <v-icon small v-on="on" @click="clickEditTable(item)">
                                                                    edit
                                                                </v-icon>
                                                            </template>
                                                            <span>编辑</span>
                                                        </v-tooltip>
                                                        <v-tooltip bottom
                                                                   v-if="currentEditChildAccountFundId == item.id">
                                                            <template v-slot:activator="{ on }">
                                                                <v-icon small v-on="on" @click="clickEditTable(item)">
                                                                    save
                                                                </v-icon>
                                                            </template>
                                                            <span>保存</span>
                                                        </v-tooltip>
                                                    </v-col>
                                                </v-row>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">汇总</th>
                                            <th class="text-left">{{parentAccountFund.totalAmount}}</th>
                                            <th class="text-left">{{parentAccountFund.totalInterest}}</th>
                                            <th class="text-left">{{parentAccountFund.totalCash}}</th>
                                            <th class="text-left">{{parentAccountFund.returnRate}}</th>

                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card
                                class="mx-auto"
                                max-width="55rem"
                                outlined
                        >
                            <v-card-title>
                                <span>资金帐号</span>
                                <v-col>

                                </v-col>
                            </v-card-title>

                            <v-chart style="height: 25rem" v-for="option in parentAccountFundDetailsOptions"
                                     :options="option"/>
                            <!--<v-chart ref="targetChart" :options="targetChartOption"/>-->

                        </v-card>
                    </v-col>
                </v-row>


            </div>
            <div class="text-center">
                <v-dialog
                        v-model="targetDialog"
                        width="500"
                >

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            目标

                        </v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-text-field
                                                    label="目标资产/元" v-model="target.targetAmount"
                                            ></v-text-field>
                                            <v-text-field
                                                    label="年华收益率" v-model="target.targetReturnRate"
                                            ></v-text-field>
                                            <v-text-field
                                                    label="耗费时间/年" v-model="target.targetYear"
                                            ></v-text-field>

                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-form>

                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    text
                                    @click="saveTargetInfo()"
                            >
                                保存
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <div class="text-center">
                <v-dialog
                        v-model="parentAccountFundDialog"
                        width="500"
                >

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            新建资产总帐号

                        </v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-text-field
                                                    label="帐号名称" v-model="parentAccountFundParam.name"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-form>

                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    text
                                    @click="newParentAccountFund()"
                            >
                                新建
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
            <div class="text-center">
                <v-dialog
                        v-model="childAccountFundDialog"
                        width="500"
                >

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            新建资产子帐号

                        </v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-container>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-text-field
                                                    label="子帐号名称" v-model="childAccountFund.name"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-text-field prefix="¥"
                                                          label="当前资产" v-model="childAccountFund.totalAmount"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-text-field prefix="¥"
                                                          label="当前贡献现金" v-model="childAccountFund.totalCash"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            {{childAccountFund.totalInterest}}
                                            <v-text-field prefix="¥"
                                                          label="当前收益" v-model="childAccountFund.totalInterest"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row align="center">
                                        <v-col
                                                cols="12"
                                                sm="9"
                                        >
                                            <v-combobox v-model="childAccountFund.fundType"
                                                        v-bind:value="childAccountFund.fundType"
                                                        label="子帐号类型"
                                                        :items="childFundTypeNames"
                                            ></v-combobox>
                                            <!--<v-text-field-->
                                            <!--label="子帐号类型" v-model="childAccountFund.fundType"-->
                                            <!--&gt;</v-text-field>-->
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-form>

                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    text
                                    @click="newChildAccountFund()"
                            >
                                新建
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>

        </div>
        <v-row justify="center">
            <v-dialog
                    v-model="showErrorMessage"
                    max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">错误提示</v-card-title>

                    <v-card-text>
                        {{errorMessage}}
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                                color="green darken-1"
                                text
                                @click="showErrorMessage = false"
                        >
                            确定
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</div>

<!-- Modal -->
</body>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.1.14/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.0.2"></script>
<script src="../js/Http.js"></script>
<script src="../js/asserts/index.js"></script>
<style>
    .echarts {
        width: 100%;
        height: 50%;
    }
</style>
</html>