<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<!--https://vuetifyjs.com/zh-Hans/components/icons-->
<head>
    <meta charset="UTF-8">

    <script
            src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.5.0/dist/echarts.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.1.14/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
<div id="parentTitle">
    <v-app id="inspire">

        </span>

        <span class="group pa-2 teal">
        <v-icon x-large dark>folder_open</v-icon>
        <v-icon x-large dark>widgets</v-icon>
        <v-icon x-large dark>gavel</v-icon>
      </span>
        </v-row>
        </v-container>

        <div class="card border-dark mb-3" style="max-width: 100rem;">
            <div class="card-header">目标</div>
            <div class="card-body text-dark">
                <div style="display: flex;justify-content: center">

                    <label for="targetAmount" class="col-form-label">目标资产</label>
                    <div>
                        <input type="text" readonly class="form-control" id="targetAmount"
                               v-model="target.targetAmount">
                    </div>
                    <label for="targetRate" class="col-form-label">目标收益率</label>
                    <div>
                        <input type="text" readonly class="form-control" id="targetRate"
                               v-model="target.targetReturnRate">
                    </div>
                    <label for="targetYear" class="col-form-label">耗费年限</label>
                    <div>
                        <input type="text" readonly class="form-control" id="targetYear" v-model="target.targetYear">
                    </div>
                </div>
            </div>
        </div>
        <div id="targetChart" style="width: 80rem;height: 30rem"></div>
        <div id="actualAccount">

            <v-card
                    class="mx-auto"
                    max-width="55rem"
                    outlined
            >
                <v-card-title>
                    <span>资金帐号</span>
                    <v-col>
                        <v-btn color="primary" style="float: right" @click="parentAccountFundDialog = true">新建资金帐号
                        </v-btn>
                    </v-col>


                </v-card-title>
                <v-card v-for="parentAccountFund in accountFunds">
                    <v-card-subtitle>

                        <span>{{parentAccountFund.name}}</span>
                        <v-btn style="float: right" @click="childAccountFundDialogShow(parentAccountFund)">新建子帐号</v-btn>
                    </v-card-subtitle>

                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">子账户</th>
                                <th class="text-left">当前资产</th>
                                <th class="text-left">当前收益</th>
                                <th class="text-left">贡献现金</th>
                                <th class="text-left">帐号类型</th>
                                <th class="text-left">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in parentAccountFund.childAccountFunds" :key="item.name">
                                <td>
                                    <v-row>
                                        <v-col cols="12"
                                               sm="8">
                                            <v-text-field disabled v-model="item.name"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </td>
                                <td>
                                    <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                  v-model="item.totalAmount"></v-text-field>
                                </td>
                                <td>
                                    <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                  v-model="item.totalInterest"></v-text-field>

                                </td>
                                <td>
                                    <v-text-field :disabled="currentEditChildAccountFundId != item.id"
                                                  v-model="item.totalCash"></v-text-field>

                                </td>
                                <td>
                                    <!--<span v-if="!parentAccountFund.edit">{{item.fundType}}</span>-->
                                    <v-text-field disabled v-model="item.fundType"></v-text-field>
                                </td>
                                <td>
                                    <v-row>
                                        <v-col cols="12"
                                               sm="4">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on }">
                                                    <v-icon v-on="on" @click="deleteAccountFund(parentAccountFund.id)">
                                                        delete
                                                    </v-icon>
                                                </template>
                                                <span>删除</span>
                                            </v-tooltip>
                                        </v-col>
                                        <v-col cols="12"
                                               sm="8">
                                            <!--<v-btn style="float: right" @click="clickEditTable(item, $event)">编辑</v-btn>-->
                                            <v-icon>mdi-edit</v-icon>

                                        </v-col>
                                    </v-row>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left">汇总</th>
                                <th class="text-left">{{parentAccountFund.totalAmount}}</th>
                                <th class="text-left">{{parentAccountFund.totalInterest}}</th>
                                <th class="text-left">{{parentAccountFund.totalCash}}</th>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-card>
            </v-card>


        </div>
        <div class="text-center">
            <v-dialog
                    v-model="parentAccountFundDialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                    >
                        新建资产总帐号

                    </v-card-title>
                    <v-card-text>
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-text-field
                                                label="帐号名称" v-model="parentAccountFundParam.name"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>

                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                text
                                @click="newParentAccountFund()"
                        >
                            新建
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <div class="text-center">
            <v-dialog
                    v-model="childAccountFundDialog"
                    width="500"
            >

                <v-card>
                    <v-card-title
                            class="headline grey lighten-2"
                            primary-title
                    >
                        新建资产子帐号

                    </v-card-title>
                    <v-card-text>
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-text-field
                                                label="子帐号名称" v-model="childAccountFund.name"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-text-field prefix="¥"
                                                      label="当前资产" v-model="childAccountFund.totalAmount"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-text-field prefix="¥"
                                                      label="当前贡献现金" v-model="childAccountFund.totalCash"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-text-field prefix="¥"
                                                      label="当前收益" v-model="childAccountFund.totalInterest"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row align="center">
                                    <v-col
                                            cols="12"
                                            sm="9"
                                    >
                                        <v-autocomplete v-model="childAccountFund.fundType"
                                                        label="子帐号类型"
                                                        :items="childFundTypeNames"
                                        ></v-autocomplete>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>

                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                text
                                @click="newChildAccountFund()"
                        >
                            新建
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <v-row justify="center">
            <v-dialog
                    v-model="showErrorMessage"
                    max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">错误提示</v-card-title>

                    <v-card-text>
                        {{errorMessage}}
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                                color="green darken-1"
                                text
                                @click="showErrorMessage = false"
                        >
                            确定
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</div>

<!-- Modal -->


<div id="charts" style="height: 500px;width: 1000px">

</div>
</body>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.1.14/dist/vuetify.min.js"></script>
<script src="../js/Http.js"></script>
<script src="../js/asserts/index.js"></script>

</html>