
/* demo ��ʼ */
#app{
    padding: 6px;
    background-color: #d4f6e7;
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 8%;
}
.shadow {
    box-shadow: 0 5px 8px #0000007a;
    border-radius: 8px;
}
.center{
    display: flex;
    justify-content: center;
}
right {
    display: flex;
    justify-content: flex-start;
}